= `Please visit http://paging.example.com/${branch} to access the ${branch} paging lists.\n\nSpreadsheet versions of your paging lists are also attached to this email.\n\nIf there is a problem with your paging lists, please contact the Help Desk at ithelpdesk@example.com or x99999.`
